body{
    font: 20px Arial, sans-serif;
}
.navbar{
    background-color: #298a08;
}
.quem-somos{
    background-color: teal;
    color: white;
}
.margin{
    padding-top: 10px;
    padding-bottom: 50px;
}
.parceiros{
    background-color: #a0b6f1;
}
.servicos{
    background-color: rgb(139, 73, 86);
}
.bg-footer{
    background-color: black;
    color: white;
}